<section class="container">
  <div class="row py-4">
    <!-- card -->
    <div class="col-8 p-3 border rounded">
      <h3><i class="fa-solid fa-list" style="color: #465062"></i> اضف مشروع</h3>
      <hr />

      <form action="">
        <div class="mb-3">
          <label for="address" class="form-label">العنوان</label>
          <!-- <input type="text"  class="form-control" id="address" placeholder="العنوان" name="title" [(ngModel)]="Pro.title"> -->
        </div>
        <div class="mb-3">
          <label for="discription" class="form-label">الوصف</label>
          <!-- <textarea rows="4" class="form-control text-muted" name="discription" [(ngModel)]="Pro.discription"></textarea> -->
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="Section" class="form-label">القسم</label>
            <input
              type="text"
              class="form-control text-muted"
              placeholder="القسم"
              id="Section"
            />
          </div>
          <div class="col">
            <label for="skills" class="form-label">المهارات</label>
            <input type="text" class="form-control text-muted" id="skills" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="projectedbudget" class="form-label"
              >الميزانية المتوقعة</label
            >
            <select class="form-select text-muted" id="projectedbudget">
              <option selected>الميزانية المتوقعة</option>
              <option value="1">من 25-50 دولار</option>
              <option value="3">من 50-100 دولار</option>
              <option value="4">من 100-250 دولار</option>
              <option value="5">من 250-500 دولار</option>
              <option value="6">من 500-1000 دولار</option>
            </select>
          </div>
          <div class="col">
            <label for="skills" class="form-label">وقت التسليم </label>
            <select class="form-select text-muted" id="projectedbudget">
              <option selected>وقت التسليم المتوقع</option>
              <option value="1">يوم</option>
              <option value="2">يومين</option>
              <option value="3">3أيام</option>
              <option value="4">4أيام</option>
              <option value="5">5أيام</option>
              <option value="6">6أيام</option>
              <option value="7">7أيام</option>
              <option value="8">8أيام</option>
              <option value="9">9أيام</option>
              <option value="10">10أيام</option>
            </select>
          </div>
        </div>
        <!-- <button type="submit" (click)="AddProject()">اضف</button> -->
      </form>
    </div>
    <!-- left side -->
    <div class="col-4">
      <div>
        <h3>نشر مشروعك على كفيل</h3>
        <iframe
          width="450"
          height="315"
          src="https://www.youtube.com/embed/z15GtCNH0UA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; "
          allowfullscreen
        ></iframe>
      </div>
      <p class="text-muted">
        تساعدك منصة كفيل على تنفيذ أعمالك ومشاريعك بسهوله وإحترافية عن طريق
        توصيلك بأفضل المستقلين المتخصصين القادرين على التعاون معك لتنفيذ
        متطلباتك, فقط أنشئ مشروع جديد وأكتب متطلباتك وأنتظر عروض المستقلين
        المختلفين للمقارنة بينهم وإختيار أفضلهم
      </p>
      <div>
        <h3><i class="fa-solid fa-lightbulb"></i> نصائح لإضافة مشروعك</h3>
        <ul class="text-muted">
          <li>ضف عنوان معبر لمشروعك</li>
          <li>
            اشرح متطلباتك بشكل واضح باللغة العربية حتى يسهل على المستقلين فهمها
            وتنفيذها
          </li>
          <li>
            أضف قسم ومهارات مناسبة لمشروعك حتى يسهل على المستقلين المتخصصين
            الوصل إلى مشروعك
          </li>
          <li>
            حدد النقاط الهامة في المشروع في نقاط رئيسية والتي لا تتوقع اكتمال
            المشروع بدونها
          </li>
          <li>
            جزء مشروعك إلى مشاريع أصغر حتى تحصل على أفضل العروض في كل تخصص على
            حدى
          </li>
          <li>حدد مدة تنفيذ و ميزانية كافية منطقية مع متطلبات مشروعك</li>
          <li>وفر امثلة في حالة توافرها لضمان وضوح أكثر لمتطلباتك</li>
        </ul>
      </div>
      <div>
        <div class="d-flex">
          <p
            class="fas fa-shield-alt"
            style="color: #1dbf73; font-size: larger"
          ></p>
          <h3>كفيل يضمن حقوقك</h3>
        </div>
        <p class="text-muted">
          توفر لك منصة كفيل بيئه متكاملة لعرض خدماتك و التواصل والدفع وسحب
          الأرباح وغيره, تلعب فيها دور الوسيط بين البائع و المشتري لتضمن تجربه
          ناجحه مرضيه للطرفين.
        </p>
      </div>
    </div>
  </div>
</section>
