body{
    background-color: #f1f2f2 !important;
}

.filter{
    padding: 12px 15px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dee0e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  